/*Skin Name: VPBA Skin
Version: 1.0.2
Author: Edgar Rodriguez*/
/*Google Font*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
/*Normalize: */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: .67em 0;
}
h2 {
  font-size: 1.5em;
  margin: .83em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: .83em;
  margin: 1.67em 0;
}
h6 {
  font-size: .67em;
  margin: 2.33em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: 700;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
p,
pre {
  margin: 1em 0;
}
code,
kbd,
pre,
samp {
  font-family: monospace,serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: '';
  content: none;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
dl,
menu,
ol,
ul {
  margin: 1em 0;
}
dd {
  margin: 0 0 0 40px;
}
menu,
ol,
ul {
  padding: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: .35em .625em .75em;
}
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
.blueGradient {
  background: #036;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #0062c5 0%, #004890 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #0062c5), color-stop(100%, #004890));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #0062c5 0%, #004890 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #0062c5 0%, #004890 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #0062c5 0%, #004890 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, #0062c5 0%, #004890 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0062c5', endColorstr='#004890', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
/*Mixins*/
.center {
  text-align: center;
}
.right {
  text-align: right;
}
.left {
  text-align: left;
}
.uppercase {
  text-transform: uppercase;
}
.blue {
  color: #0f455f;
}
.letterSpacingNormal {
  letter-spacing: normal;
}
.sprite {
  background: url(../images/sprite.png) no-repeat;
}
.transition {
  transition: all ease-in 150ms;
}
.verticalWhiteSpace {
  padding: 40px 0;
}
.noMargin {
  margin: 0;
}
.moreMarginBottom {
  margin-bottom: 40px;
}
.moreMarginTop {
  margin-top: 40px;
}
.pictureFrame {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 3px;
}
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.borderGray {
  border: 1px solid #ddd;
}
.boxShadow {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
.card {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  padding: 10px;
  margin-bottom: 16px;
  position: relative;
}
.lt-ie9 .card,
.lt-ie8 .card {
  border: 1px solid #ddd;
}
.IE .card {
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.5);
}
a.card {
  display: block;
  cursor: pointer;
}
.card:hover {
  box-shadow: 0px 0px 10px #bbb;
}
.cardImage img {
  display: block;
}
.evenRow {
  background-color: #fcfcfc;
}
.overFlowScroll {
  overflow: scroll;
}
.aDropdownWrapper {
  position: relative;
  z-index: 1;
}
.aDropdownWrapper ul {
  background: url(../images/sprite.png) no-repeat;
  background-position: right -786px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.aDropdownWrapper ul li {
  margin: 0;
}
.aDropdownWrapper ul ul {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  background-image: none;
  display: none;
  padding: 10px;
}
.aDropdownWrapper ul ul li {
  border-top: 1px solid #ddd;
  padding: 5px 0;
}
.aDropdownWrapper ul ul li:first-child {
  border-top: none;
}
.aDropdownWrapper ul li:hover ul {
  position: absolute;
  left: 0;
  display: block;
  z-index: 1;
}
/*Table with blue th's*/
.blueHeadingsTable {
  clear: both;
  border: 1px solid #fff;
  border-collapse: separate;
  background-color: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
  margin-bottom: 10px;
}
.blueHeadingsTable th {
  background-color: #0f455f;
  color: #fff;
}
.blueHeadingsTable th {
  padding: 10px 0;
}
.blueHeadingsTable th .leftPadding {
  padding-left: 10px;
}
.blueHeadingsTable tr.even {
  background-color: #f1f1f1;
}
/*set the top, right, bottom and left values independently*/
.blueBlock {
  background-color: #56abb3;
  position: absolute;
  z-index: 1;
}
.cardsList {
  list-style: none;
  padding: 0;
}
.cardsList .blueBlock {
  top: 10px;
  right: 84%;
  bottom: 10px;
  left: 10px;
}
.cardsList a {
  display: block;
  padding-left: 18%;
  position: relative;
}
.blueBlockAfterContent {
  position: relative;
  z-index: 2;
}
/*Animations*/
.btnAnimate {
  display: inline-block;
  top: 120px;
  opacity: 0;
  position: relative;
}
.slideInBT {
  opacity: 0;
  position: relative;
  top: 120px;
}
.roundedCorners {
  border-radius: 8px;
}
.fadeIn {
  opacity: 0;
}
/*IE7Fix*/
.no-opacity .fadeIn {
  opacity: 1;
}
.no-cssanimations .slideInBT,
.no-cssanimations .btnAnimate {
  opacity: 1;
  position: static;
}
/*-------------------------------Styles*/
/*GeneralStyles*/
body {
  font-family: 'Open Sans', sans-serif;
  color: #333;
}
h2 {
  color: #0f455f;
  font-weight: 400;
}
.graySection {
  background-color: #fcfcfc;
}
.graySection .aTitle {
  border-color: #ddd;
}
.graySection .aTitle span {
  background-color: #fcfcfc;
}
.graySection .btn {
  background-color: #eee;
}
.aTitle {
  letter-spacing: normal;
  text-align: center;
  border-top: 1px solid #eee;
  margin: 60px 0 10px;
}
.aTitle span {
  background-color: #fff;
  padding: 0 2%;
  position: relative;
  top: -20px;
  width: 90%;
}
h3 {
  color: #0f455f;
  font-size: 18px;
  font-weight: 600;
}
a {
  color: #008cba;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #03556e;
  text-decoration: underline;
}
img {
  max-width: 100%;
}
/* Custom Syles for Dynatable */
#evenOddTable {
  border: 1px solid #fff;
  border-collapse: separate;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
  margin-bottom: 10px;
  width: 100%;
}
#evenOddTable th a {
  color: #fff;
  display: block;
}
#evenOddTable th {
  background-color: #0f455f;
}
#evenOddTable th h2 {
  display: inline;
}
#evenOddTable tr.even {
  background-color: #f1f1f1;
}
#evenOddTable td {
  text-align: left;
}
.simpleTable th {
  background-color: #0f455f;
  color: #fff;
}
.simpleTable td {
  border-bottom: 1px solid #ddd;
}
.sortByWrapper {
  text-align: right;
}
.sortByWrapper span {
  color: #fff;
}
.btn {
  background-color: #eee;
  border-radius: 20px;
  border: none;
  display: inline-block;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
}
.btn:hover {
  background-color: #eee;
}
.primaryBtn:hover {
  background-color: #082c41;
  color: #fff;
  text-decoration: none;
}
.primaryBtn {
  text-transform: uppercase;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  background-color: #0f455f;
  color: #fff;
}
.aquaBtn {
  text-transform: uppercase;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  background-color: #56abb3;
  color: #fff;
}
.aquaBtn:hover {
  color: #fff;
  background: #082c41;
  text-decoration: none;
}
.btnMed {
  font-size: 14px;
  padding: 4px 10px;
}
.btnDisabled {
  color: #ddd;
}
.btnDisabled:hover {
  background-color: #eee;
  color: #ddd;
  text-decoration: none;
}
button.btn {
  line-height: 24px;
  height: 36px;
}
h2:target,
h3:target,
tr:target {
  transition: all ease-in 450ms;
  background-color: yellow !important;
}
.backToTop {
  transition: all ease-in 150ms;
  background: #082c41;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  opacity: 0;
  position: fixed;
  right: 60px;
  bottom: 60px;
  text-align: center;
  width: 48px;
  height: 48px;
}
.backToTop span {
  display: block;
  margin-top: 12px;
  line-height: 1.1;
}
.scrolled .backToTop {
  opacity: 1;
}
.intro {
  text-align: center;
  color: #0f455f;
  font-size: 20px;
  margin-bottom: 24px;
}
.intro::before,
.intro::after {
  text-align: center;
  background-color: #56abb3;
  content: " ";
  display: block;
  height: 1px;
  margin: 20px auto 0 auto;
  top: 0;
  width: 50%;
}
@media (max-width: 767px) {
  .intro {
    font-size: 18px;
  }
}
.caption {
  font-size: 12px;
  line-height: 1;
  display: block;
}
hr {
  clear: both;
  border: 0;
  border-top: 1px solid #ddd;
  margin-top: 20px;
  margin-bottom: 20px;
}
hr.halfLightBlue {
  border-color: #56abb3;
  width: 50%;
}
input[type=text] {
  transition: all ease-in 150ms;
  border: 1px solid #ddd;
}
input[type=text]:focus {
  border: 1px solid #666;
}
.fullWidthTable {
  width: 100%;
}
td,
th {
  border: none;
  padding: 10px;
  text-align: left;
}
.container {
  margin: 0 auto;
  width: 1170px;
}
.containerNarrow {
  margin: 0 auto;
  width: 767px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container,
  .containerNarrow {
    width: 750px;
  }
}
.mobileYes {
  display: none;
}
@media (max-width: 767px) {
  .container,
  .containerNarrow {
    margin: 0 auto;
    width: 90%;
  }
  .aTitle {
    font-size: 16px;
    margin: 30px 0 0;
  }
  .aTitle span {
    top: -12px;
    width: 70%;
  }
  span {
    display: inline-block;
  }
  .mobileNo {
    transition: all ease-in 150ms;
    display: none!important;
  }
  .mobileYes {
    display: block;
  }
}
.clear {
  clear: both;
}
.alert {
  border-radius: 8px;
  background-color: #fcfcfc;
  padding: 16px 32px;
  overflow: hidden;
}
.anWV {
  opacity: 0;
  position: relative;
  top: -30px;
}
.anWS {
  opacity: 0;
}
/*Grid*/
.oneHalf {
  float: left;
  margin-right: 2%;
  width: 49%;
}
.oneThird {
  float: left;
  margin-right: 2%;
  width: 32%;
}
.twoThirds {
  float: left;
  margin-right: 2%;
  width: 66%;
}
.oneFourth {
  float: left;
  margin-right: 2%;
  width: 23.5%;
}
.oneFifth {
  float: left;
  margin-right: 2%;
  width: 18.4%;
}
.twoFifths {
  float: left;
  margin-right: 2%;
  width: 38.8%;
}
.gridFirst {
  clear: both;
}
.gridLast {
  margin-right: 0;
}
.showGrid {
  text-align: center;
  background: url(../images/pickBg.jpg) bottom center no-repeat #eee;
  background-attachment: fixed;
  margin-bottom: 12px;
}
@media (max-width: 767px) {
  .breakColMobile {
    width: 100%;
    margin-right: 0;
    float: none;
  }
  .breakColMobile .oneHalf,
  .breakColMobile .oneThird,
  .breakColMobile .twoThirds,
  .breakColMobile .oneFourth,
  .breakColMobile .oneFifth,
  .breakColMobile .twoFifths {
    width: 100%;
    float: none;
    margin-right: 0;
  }
}
/*Expand Columns In Mobile View*/
@media (max-width: 767px) {
  .highlightsWrapper .oneHalf,
  .highlightsWrapper .oneThird,
  .highlightsWrapper .oneFourth,
  .resourcesPage .oneHalf {
    border-bottom: 1px solid #eee;
    float: none;
    width: 100%;
    margin-bottom: 30px;
    padding-bottom: 10px;
  }
  .blueLightSection.highlightsWrapper .oneFourth {
    border-bottom-color: #008cba;
  }
  .resourcesPage .oneHalf {
    border-bottom: none;
  }
}
#table_div {
  /*pagination*/
}
#table_div table {
  height: auto !important;
  font-size: 12px;
  table-layout: fixed !important;
}
#table_div table th {
  color: #fff;
  white-space: normal;
  background: #133d71;
  padding: 10px .35em;
}
#table_div table th:first-child {
  width: 20px;
}
#table_div table th:nth-child(2) {
  width: 60px;
}
#table_div table th:nth-child(4) {
  width: 60px;
}
#table_div .google-visualization-table-div-page.gradient {
  background-color: #ddd;
  background-image: none;
}
#table_div .google-visualization-table-page-number {
  border-style: solid;
  display: inline-block;
  line-height: 40px;
  height: 40px;
  width: 40px;
}
#table_div .google-visualization-table-sortind {
  color: #fff;
  float: right;
}
#table_div .unsorted .google-visualization-table-sortind {
  display: inline-block;
  opacity: .5;
}
#table_div .unsorted .google-visualization-table-sortind:after {
  content: "\0025bc \0025b2";
}
#table_div .charts-custom-button-inner-box {
  border-style: solid;
  display: inline-block;
  padding: 0;
  line-height: 40px;
  height: 40px;
  width: 40px;
  text-align: center;
}
#table_div .charts-custom-button-inner-box img {
  margin-top: 16px;
}
/*stringFilter*/
#dashboard_div .google-visualization-controls-stringfilter {
  padding: 10px 0;
}
#dashboard_div .google-visualization-controls-stringfilter .google-visualization-controls-label {
  padding-top: 0;
}
